$primary-col: #2CD99B;
$primary-text-col:#404040;
$title-font-family: Georgia,
serif;
$text-font-family: Helvetica,
serif;
$font-family-sans-serif: $text-font-family;
/* make the customizations */
$theme-colors: (
  "primary": $primary-col);
$dropdown-min-width: 1rem;
@import "node_modules/bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, $text-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


* {
  box-sizing: border-box;
}


.utilsBar {
  position: relative;
  top: 0;
  right: 0;
  z-index: 2;
  margin: auto;
  vertical-align: middle;
  text-align: center;
}

/*sidebar colors*/
$highlight-color: $primary;
$icon-bg-color: $primary-col;
$sidebar-collapsed-width: 0px !default;
$sidebar-width: 270px !default;
/*
@import '~react-pro-sidebar/dist/scss/styles.scss';
*/
/* The following block can be included in a custom.scss */

.footerLogin {
  color: $primary-text-col;
  background-color: #fafafa;
  text-align: center;
}

.title {
  font-family: $title-font-family;
  font-size: 2em;
}


.sidebar {
  min-width: 250px;
  max-width: 250px;
  margin-left: -250px;
  transition: all 0.5s;
  height: 100vh !important;
  display: block !important;
  z-index: 9;

}

.sidebar.is-open {
  margin-left: 0;

}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .3);
  display: none;
  z-index: 8;
}

@media only screen and (max-width: 660px) {
  .showOverlay {
    display: block;
  }
  .sidebar {
    position: absolute;
    float: left;
  }
}
