$primary-col: #00b37d;


/* make the customizations */
$theme-colors: (
    "info": tomato,
    "primary": $primary-col
);
$dropdown-min-width: 1rem;
@import "node_modules/bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


* {
  box-sizing: border-box;
}


.utilsBar{
  position: relative;
  top: 0;
  right: 0;
  z-index: 2;
  margin: auto;
  vertical-align: middle;
  text-align: center;
}

/*sidebar colors*/
$sidebar-bg-color: #f8f9fa;
$sidebar-color: #666;
$submenu-bg-color:#e7e8e9;
$submenu-bg-color-collapsed:#e7e8e9;
$highlight-color: $primary;
$icon-bg-color: $primary-col;
$sidebar-collapsed-width: 0px !default;
$sidebar-width: 270px !default;

@import '~react-pro-sidebar/dist/scss/styles.scss';


/* The following block can be included in a custom.scss */



